/* MEDIA QUERY BREAKPOINTS 
    0-576px for portrait phones.
    577-768px for tablets in portrait mode.
    769-991 for tablets in landcape mode.
    992-1200px for laptops.
    1200px+ for large devices.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 61.9em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 36em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 1.3;
  padding: 1.5rem;
  color: #777; }

@keyframes fade1 {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade2 {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade3 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade4 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.heading-primary {
  color: #fff;
  margin-bottom: 2.5rem;
  font-weight: 400;
  text-align: center; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    display: block; }
  .heading-primary--sub {
    display: block;
    font-family: "Avenir Roman",serif;
    font-size: 2.5rem; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(90deg, rgba(132, 108, 56, 0.6) 0%, #846c38 50%, rgba(132, 108, 56, 0.56) 100%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s; }
  .heading-secondary:hover {
    transform: scale(1.03);
    text-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 1000;
  text-transform: uppercase; }

.about-para {
  font-size: 1.6rem; }
  .about-para:not(:last-child) {
    margin-bottom: 3rem; }

.u-align-center {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.header {
  height: 95vh;
  position: relative; }
  .header__slider--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.3), rgba(79, 97, 42, 0.3)), url(img/header-image-1-medium.jpg);
    background-position: top;
    background-size: cover;
    animation: fade1 10s infinite; }
  .header__slider--2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.3), rgba(79, 97, 42, 0.3)), url(img/header-image-2-medium.jpg);
    background-position: top;
    background-size: cover;
    animation: fade2 10s infinite; }
  .header__slider--3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.3), rgba(79, 97, 42, 0.3)), url(img/header-image-3-medium.jpg);
    background-position: top;
    background-size: cover;
    animation: fade3 10s infinite; }
  .header__slider--4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.3), rgba(79, 97, 42, 0.3)), url(img/header-image-4-medium.jpg);
    background-position: top;
    background-size: cover;
    animation: fade4 10s infinite; }
  .header__logo-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    height: 25rem; }
  .header__text-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__btn-box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-top: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }

.footer {
  background-color: #444;
  padding: 3rem 0;
  font-size: 1.4rem;
  margin-top: 5rem; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
    .footer__link:link, .footer__link:visited {
      color: #f7f7f7;
      transition: all .5s; }
    .footer__link:hover, .footer__link:active {
      color: #c4ac6c;
      text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: scale(1.1); }
  .footer__copyright {
    color: #f7f7f7;
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block;
    width: 80%;
    float: right; }
  .footer__author {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #c4ac6c; }
    .footer__author:link, .footer__author:visited {
      transition: all .4s; }
    .footer__author:hover, .footer__author:active {
      text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: scale(1.1); }
  .footer__logo-box {
    text-align: center; }
  .footer__left {
    text-align: center; }
  .footer__columns {
    display: flex;
    justify-content: space-between;
    margin: 2rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  color: #fff;
  position: relative;
  border: 2px solid #846c38;
  display: inline-block;
  transition: all 0.2s; }

.btn:hover {
  outline: none;
  tranform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.btn--brown {
  background-color: #846c38;
  color: #f7f7f7;
  margin-right: 1rem; }

.btn--plan {
  background-color: #846c38;
  color: #f7f7f7;
  margin-right: 1rem; }

.btn-about:link, .btn-about:visited {
  color: #846c38;
  text-decoration: none;
  text-transform: capitalize;
  border-bottom: 1px solid #846c38;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  transition: all 0.2s; }

.btn-about:hover {
  background-color: #846c38;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: translateY(-3px); }

.btn-about:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(1px); }

.btn-form:link, .btn-form:visited {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  border-bottom: 1px solid #fff;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  transition: all 0.2s; }

.btn-form:hover {
  background-color: #846c38;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #846c38;
  transform: translateY(-3px); }

.btn-form:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(1px); }

.composition {
  position: relative; }
  .composition__img {
    width: 65%;
    box-shadow: 0.1rem 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.4s; }
    .composition__img--1 {
      left: 5rem;
      top: 4rem; }
    .composition__img--2 {
      left: 16rem;
      top: 16rem; }
    .composition__img--3 {
      left: 24rem;
      top: 24rem; }
    .composition__img:hover {
      transform: scale(1.07) translateY(-2.5rem);
      box-shadow: 0 1.75rem 5rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      outline: 1rem solid #846c38; }
    .composition__img:hover .composition__img:__img:not(:hover) {
      transform: scale(0.85); }

.amenity-box {
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  width: 28rem;
  height: 40rem;
  color: #fff;
  position: relative; }
  .amenity-box--1 {
    background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.3), rgba(79, 97, 42, 0.3)), url(../img/amenity-img-1.jpg);
    background-size: cover;
    background-position: 78% 50%; }
  .amenity-box--2 {
    background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.3), rgba(79, 97, 42, 0.3)), url(../img/amenity-img-2.jpg);
    background-size: cover;
    background-position: 78% 50%; }
  .amenity-box--3 {
    background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.3), rgba(79, 97, 42, 0.3)), url(../img/amenity-img-3.jpg);
    background-size: cover;
    background-position: 78% 50%; }
  .amenity-box--4 {
    background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.3), rgba(79, 97, 42, 0.3)), url(../img/amenity-img-4.jpg);
    background-size: cover;
    background-position: 78% 50%; }
  .amenity-box__title {
    font-size: 4rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: .9;
    transition: opacity .2s; }
  .amenity-box__overlay {
    position: absolute;
    top: 0rem;
    left: 0;
    background-image: linear-gradient(to right bottom, #28b485, #4f612a);
    width: 28rem;
    height: 40rem;
    opacity: 0;
    transition: opacity .2s; }
  .amenity-box:hover .amenity-box__overlay {
    opacity: 0.7;
    top: 0;
    transition: opacity .2s; }
  .amenity-box:hover .amenity-box__title {
    opacity: 0;
    transition: opacity .2s; }
  .amenity-box__content {
    width: 85%;
    top: 10%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: all 0.4s; }
    .amenity-box__content:hover {
      opacity: 1;
      top: 50%; }
  .amenity-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right bottom, #fff, #ffb900);
    -webkit-background-clip: text;
    color: transparent; }
  .amenity-box__text {
    font-size: 1.5rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  opacity: .4;
  height: 90vh; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .bg-video__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(41, 152, 255, 0.3);
    z-index: 2; }

.testimonial {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3rem 60rem rgba(0, 0, 0, 0.1);
  display: inline-block;
  overflow: hidden;
  border-radius: 2rem; }
  .testimonial__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-clip-path: circle(90% at 3% 3%);
    clip-path: circle(90% at 3% 8%);
    -webkit-shape-outside: circle(100% at 3% 8%);
    shape-outside: circle(100% at 3% 8%);
    position: relative;
    transform: translateX(-3rem); }
  .testimonial__text {
    padding: 3rem; }
  .testimonial__image {
    height: 100%;
    transform: scale(1.7);
    transiiton: all 0.5s; }
  .testimonial:hover .testimonial__image {
    transiiton: all 0.5s;
    transform: scale(1.4);
    filter: blur(3px) brightness(80%); }
  .testimonial__para {
    font-size: 1.5rem; }
  .testimonial__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-transform: UPPERCASE;
    font-size: 1.7rem;
    opacity: 0;
    transition: all 0.5s; }
    .testimonial__caption:hover {
      opacity: 1;
      text-transfrom: translate(-50%, -80%);
      transition: all 0.5s; }
  .testimonial--1 {
    float: left;
    margin-left: 5rem; }
  .testimonial--2 {
    float: right;
    margin-right: 5rem;
    margin-top: 10rem; }

.plan {
  height: 47rem;
  color: #fff;
  perspective: 150rem;
  position: relative; }
  .plan__side {
    top: 0;
    left: 0;
    height: 100%;
    transition: all 1s;
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    overflow: hidden; }
    .plan__side--front {
      background-color: #fff;
      border-radius: 30px 0 30px; }
    .plan__side--back {
      background-color: #28b485;
      transform: rotateY(180deg);
      border-radius: 0 30px 0 30px; }
    .plan__side--back-1 {
      background-image: linear-gradient(to right bottom, #e2b5a8, #876C64); }
    .plan__side--back-2 {
      background-image: linear-gradient(to right bottom, #c4ac6c, #ffb900); }
    .plan__side--back-3 {
      background-image: linear-gradient(to right bottom, #bbd4eb, #707F8D); }
  .plan:hover .plan__side--front {
    transform: rotateY(-180deg); }
  .plan:hover .plan__side--back {
    transform: rotateY(0deg); }
  .plan__image--1 {
    background-image: linear-gradient(to right bottom, #e2b5a8, #876C64), url(img/plan-img-1.jpg);
    background-size: cover;
    height: 18rem;
    background-blend-mode: overlay;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .plan__image--2 {
    background-image: linear-gradient(to right bottom, #e2b5a8, #876C64), url(img/plan-img-2.jpg);
    background-size: cover;
    height: 18rem;
    background-blend-mode: overlay;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .plan__image--3 {
    background-image: linear-gradient(to right bottom, #e2b5a8, #876C64), url(img/plan-img-3.jpg);
    background-size: cover;
    height: 18rem;
    background-blend-mode: overlay;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .plan__heading {
    font-size: 2.8rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    top: 9rem;
    right: 2rem;
    width: 20rem;
    text-align: right;
    padding: 1rem 1.5rem; }
    .plan__heading--1 {
      background-image: linear-gradient(to right bottom, rgba(226, 181, 168, 0.7), rgba(135, 108, 100, 0.7)); }
    .plan__heading--2 {
      background-image: linear-gradient(to right bottom, rgba(196, 172, 108, 0.7), rgba(255, 185, 0, 0.7)); }
    .plan__heading--3 {
      background-image: linear-gradient(to right bottom, rgba(187, 212, 235, 0.7), rgba(112, 127, 141, 0.7)); }
  .plan__bullets {
    padding: 3rem; }
    .plan__bullets ul {
      text-transform: capitalize;
      color: #777;
      list-style: none;
      width: 90%;
      margin: 1rem auto; }
      .plan__bullets ul li {
        text-align: center;
        font-size: 1.3rem;
        padding: 2rem; }
        .plan__bullets ul li:not(:last-child) {
          border-bottom: 1px solid rgba(238, 238, 238, 0.5); }
  .plan__cost {
    font-size: 4.5rem;
    color: #fff;
    font-weight: 100;
    position: absolute;
    top: 25%;
    text-align: center;
    padding: 1rem 1.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .plan__year {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 35%;
    position: absolute; }
  .plan__button {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-align: center;
    position: absolute;
    width: 70%; }

.contact {
  height: 53rem;
  background-image: radial-gradient(circle, rgba(79, 97, 42, 0.2), rgba(40, 180, 133, 0.2)), url(img/contact-form-img-2.jpg);
  background-size: cover;
  background-position: left 50%;
  border-radius: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  padding: 2rem; }
  .contact__form {
    width: 50%;
    padding: 6rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: 100%;
  border-radius: 2px;
  color: #fff;
  font-family: inherit;
  opacity: 1;
  border-bottom: 3px solid transparent; }
  .form__input::-webkit:input-placeholder {
    color: #999; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  transfrom: translate(-4rem); }

.form__label {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  transition: all .3s; }

.form__group {
  margin: 1.8rem 0; }

.form__radio-group {
  display: inline-block;
  width: 30%; }

.form__radio-input:checked + .form__radio-label .form__radio-button:after {
  opacity: 1; }

.form__radio-label {
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  padding-left: 5rem;
  position: relative; }

.form__radio-input {
  display: none; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-image: url(img/golf-ball-texture-small.jpg);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #28b485;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity .2s; }

.form__text {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  color: #444;
  width: 100%;
  height: 10rem;
  padding: 1.5rem 1rem; }

.about-section {
  background-color: #f7f7f7;
  padding: 7rem 0; }

.amenities-section {
  background-color: #fff;
  padding: 7rem 0; }

.testimonials-section {
  position: relative;
  padding: 15rem 0; }
  .testimonials-section .membership-section {
    margin-top: 5rem;
    background-color: #f7f7f7;
    padding: 15rem 0; }

.contact-section {
  padding-top: 5rem;
  background-color: #fff; }
