//COLORS

$primary-light: #426d49;
$primary-dark:#4f612a;
$primary-light:#28b485;

$secondary-1:#e2b5a8;
$secondary-2:#bbd4eb;
$secondary-3:#B398B0;
$secondary-4:#c4ac6c;


$secondary-1-dark:#876C64;
$secondary-2-dark:#707F8D;
$secondary-3-dark:#80657D;

$secondary-light:#ffb900;
$tertiary-light:#2998ff;

$white:#fff;
$black:#000;
$brown:#846c38;


$grey-dark:#777;
$grey-dark-2:#999;
$grey-dark-3:#444;
$grey-light-1:#f7f7f7;
$grey-light-2:#eee;

//FONTS

$default-font-size:1.6rem;


//GRID

$horizontal-gutter:6rem;
$vertical-gutter:6rem;

//ABOUT
$about--horizontal-gutter:8rem;
$about--vertical-gutter:8rem;