.footer {

	background-color:$grey-dark-3;
	padding:3rem 0;
	font-size:1.4rem;
	margin-top:5rem;



	&__navigation {
		@include top-border;
	}

	&__list {
		list-style:none;
	}

	&__item {
		display:inline-block;
		&:not(:last-child) {
			margin-right:1.5rem;
	}
		


	}

	&__link {
		text-decoration:none;
		text-transform:uppercase;
		display:inline-block;

		&:link,
		&:visited {
			color:$grey-light-1;
			transition:all .5s;
		}

		&:hover,
		&:active {
			color:$secondary-4;
			text-shadow:0 1rem 2rem rgba($black,.4);
			transform: scale(1.1);
		}
	}

	&__copyright {
		color:$grey-light-1;
		@include top-border;
		width:80%;
		float:right;

	}

	&__author {
		text-decoration:none;
		text-transform:uppercase;
		display:inline-block;
		color:$secondary-4;

		&:link,
		&:visited {
			transition:all .4s;
		}

		&:hover,
		&:active {
			text-shadow:0 1rem 2rem rgba($black,.4);
			transform: scale(1.1);
		}
	
	}

	&__logo-box {
		text-align:center;

	}

	&__logo {
	
	}

	&__left{
		text-align:center;
	}

	&__columns {
		display:flex;
		justify-content:space-between;
		margin:2rem;
	}

}