.bg-video{

position:absolute;
top:0;
left:0;
z-index:-1;
width:100%;
opacity:.4;
height:90vh;
	
	&__content{
	width:100%;
	height:100%;
	object-fit:cover;

	}
	&__overlay{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	background-color:rgba($tertiary-light,0.3);
	z-index:2;

	}
}