.contact{
	height:53rem;
	background-image:radial-gradient(circle, rgba($primary-dark,0.2) ,rgba($primary-light,.2)), url(img/contact-form-img-2.jpg);
	background-size:cover;
	background-position:left 50%;
	border-radius:2rem;
	box-shadow:0 1.5rem 4rem rgba($black,0.4);
	padding:2rem;

	&__form{
	width: 50%;
	padding:6rem
	}
}