.testimonial{
	width:40%;
	background-color:rgba($white, 0.6);
	box-shadow:0 3rem 60rem rgba($black,0.1);
	display:inline-block;
	//padding:3rem;
	overflow:hidden;
	border-radius: 2rem;

	&__shape{
		width:15rem;
		height:15rem;
		float:left;
		-webkit-clip-path:circle(90% at 3% 3%);
		clip-path:circle(90% at 3% 8%);

		-webkit-shape-outside:circle(100% at 3% 8%);
		shape-outside:circle(100% at 3% 8%);
		position:relative;

		transform:translateX(-3rem);

	}
	&__text{
	padding:3rem;
	}

	&__image{
		height:100%;
		transform:scale(1.7);
		transiiton: all 0.5s;
	}

	&:hover &__image{
	transiiton: all 0.5s;
	transform:scale(1.4);
	filter:blur(3px) brightness(80%);
	}

	

	&__para{
		font-size:1.5rem;
	}

	&__caption{
		position:absolute;
		top:50%;
		@include center-object;
		color:$white;
		text-transform:UPPERCASE;
		font-size:1.7rem;
		opacity:0;
		transition:all 0.5s;

		&:hover{
		opacity:1;
		text-transfrom:translate(-50%,-80%);
		transition:all 0.5s;

		}
	}

	&--1{
	float:left;
	margin-left:5rem;
	}

	&--2{
	float:right;
	margin-right:5rem;
	margin-top:10rem;
	}
}