.about-section{

	background-color:$grey-light-1;
	padding:7rem 0;
}
.amenities-section{

	background-color:$white;
	padding:7rem 0;
}
.testimonials-section{

	position:relative;
	padding:15rem 0;


.membership-section{
	margin-top:5rem;
	background-color:$grey-light-1;
	padding:15rem 0;
	}
}

.contact-section{
	padding-top:5rem;
	background-color:$white;
}